<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry location="D:\Maven\repository\com\microsoft\sqlserver\sqljdbc4\4.2\sqljdbc4-4.2.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
                        connectionURL="jdbc:sqlserver://localhost:1433;DataBaseName=Examsystem" userId="liu"
                        password="123"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.lyx.examsystem.entity"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="resources.mappers"
                         targetProject="src/main">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口文件的位置 -->
        <javaClientGenerator targetPackage="com.lyx.examsystem.dao"
                             targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 相关表的配置 -->
        <table tableName="UserInfo" domainObjectName="UserInfoEntity" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false"/>
        <!--<table tableName="TopicInfo" domainObjectName="TopicInfoEntity" enableCountByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"/>-->
        <!--<table tableName="ExamRecordInfo" domainObjectName="ExamRecordInfoEntity" enableCountByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--enableUpdateByExample="false"/>-->
    </context>
</generatorConfiguration>